{% extends 'base.html.twig' %}

{% block title %}CategorieArticle index{% endblock %}

{% block body %}
    <h1>CategorieArticle index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Categorie</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for categorie_article in categorie_articles %}
            <tr>
                <td>{{ categorie_article.id }}</td>
                <td>{{ categorie_article.categorie }}</td>
                <td>
                    <a href="{{ path('categorie_article_show', {'id': categorie_article.id}) }}">show</a>
                    <a href="{{ path('categorie_article_edit', {'id': categorie_article.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('categorie_article_new') }}">Create new</a>
{% endblock %}
