{% extends 'base.html.twig' %}

{% block title %}CategorieIntervention index{% endblock %}

{% block body %}
    <h1>CategorieIntervention index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Libelle</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for categorie_intervention in categorie_interventions %}
            <tr>
                <td>{{ categorie_intervention.id }}</td>
                <td>{{ categorie_intervention.libelle }}</td>
                <td>
                    <a href="{{ path('categorie_intervention_show', {'id': categorie_intervention.id}) }}">show</a>
                    <a href="{{ path('categorie_intervention_edit', {'id': categorie_intervention.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('categorie_intervention_new') }}">Create new</a>
{% endblock %}
