{% extends 'base.html.twig' %}

{% block title %}User index{% endblock %}

{% block body %}
    {#% for user in users %}
        <tr>
            <td>{{ user.id }}</td>
            <td>{{ user.username }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.password }}</td>
            
            <td>{{ user.nom }}</td>
            <td>{{ user.prenom }}</td>
            <td>{{ user.adresse }}</td>
            <td>{{ user.codePostal }}</td>
            <td>{{ user.ville }}</td>
            <td>{{ user.telFixe }}</td>
            <td>{{ user.telPortable }}</td>
            <td>{{ user.nomEntreprise }}</td>
            <td>{{ user.numeroSiret }}</td>
            <td>{{ user.logo }}</td>
            <td>{{ user.description }}</td>
            <td>{{ user.conditionGeneral ? 'Yes' : 'No' }}</td>
            <td>
                <a href="{{ path('user_show', {'id': user.id}) }}">show</a>
                <a href="{{ path('user_edit', {'id': user.id}) }}">edit</a>
            </td>
        </tr>
    {% else %}
        <tr>
            <td colspan="18">no records found</td>
        </tr>
    {% endfor %#}
    {% for user in users %}
        {{dump(user)}}
        {%for voiture in user.fkVoiture%}
            {{dump(voiture)}}
            {%for carnetEntretien in voiture.fkCarnetEntretien%}
                {{dump(carnetEntretien)}}
            {%endfor%}
            {%for image in voiture.fkUploadVoitureImage%}

                {%if loop.first%}
                    {{dump(image)}}
                {% endif %}

            {%endfor%}
        {%endfor%}

    {% endfor %}
    {{app.user.id}}
</tbody>
</table>

<a href="{{ path('user_new') }}">Create new</a>
{% endblock %}
